page-login {
    .loginBox {
        margin-top: 50%;
    }

    .fixed-content {
   // background-color: #222E3B;
    background: url("/assets/img/garage.jpg") no-repeat center fixed;
    background-size: cover;
}

}
